.Mail {
 text-align: center;
}
.Maill {
   text-align: center
   
}
.Mailll {
 padding-left: 1300px;   
}

.Bodu {
      background-color: black;
}
.A {
   padding-left: 250px;
   padding-top: 100px;
}